name: flake

on:
  pull_request:
    paths:
      - "**/*.nix"
      - ".github/workflows/flake.yml"
      - "flake.lock"
  push:
    branches:
      - master
    paths:
      - "**/*.nix"
      - ".github/workflows/flake.yml"
      - "flake.lock"

jobs:
  check-flake:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: DeterminateSystems/flake-checker-action@v12
      - uses: DeterminateSystems/nix-installer-action@v19
      - uses: DeterminateSystems/magic-nix-cache-action@v13
      - run: nix flake check --show-trace

  build-flake:
    needs: check-flake
    strategy:
      matrix:
        host: [nimbus, fawkes]
    name: build-${{ matrix.host }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: DeterminateSystems/nix-installer-action@v19
      - uses: DeterminateSystems/magic-nix-cache-action@v13
      - uses: cachix/cachix-action@v16
        with:
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}
          name: radoslawgrochowski-homeserver
      - run: nix build .#nixosConfigurations.${{ matrix.host }}.config.system.build.toplevel -L --show-trace --accept-flake-config
